[submodule "lib/SensorReadoutParsers"]
	path = lib/SensorReadoutParsers
	url = https://github.com/simpleLoc/SensorReadoutParsers.git
[submodule "lib/SortFilterProxyModel"]
	path = lib/SortFilterProxyModel
	url = https://github.com/oKcerG/SortFilterProxyModel.git
[submodule "lib/subprocess"]
	path = lib/subprocess
	url = https://github.com/benman64/subprocess.git
